<div class="app">
  <h1>Task for directives</h1>
  <app-registration></app-registration>
  <!-- <input [(ngModel)]="inputText" (input)="checkInput()" />
  <div *ngIf="hasSpecialCharacters" style="color: red">Спецсимволы запрещены</div>
  <div *ngIf="isPrime !== null" [style.color]="isPrime ? 'blue' : 'green'">
    {{ isPrime ? 'Вы ввели простое число' : 'Вы ввели составное число' }}
  </div>
  <button (click)="saveInput()">Сохранить</button>
  <ul>
    <li *ngFor="let item of savedItems">{{ item.text | colorText }}</li>
  </ul> -->
</div>